<h1> Welcome, <%= @user.name %>!</h1>

<p><%= link_to "View Your Activities", user_activities_path(@user) %></p>

<p><%= link_to "View All Activities", activities_path %></p>

<p>View Activities by Location</p>