<h1> Hello!</h1>

<p><%= link_to "View Your Activities", :controller => :users, :action => :activities
%></p>

<p><%= link_to "View All Activities", activities_path %></p>

<p>View Activities by Location</p>

<%= link_to "Log Out", session_path, :method => :delete %>