<h1> Hello!</h1>

<p><%= link_to "View Your Activities", user_activities_path(@user)%></p>

<p><%= link_to "View All Activities", activities_path %></p>

<%= link_to "Top Ten Activities", activities_top_ten_path %>

<p>View Activities by Location</p>

<%= link_to "Log Out", session_path, :method => :delete %>