<h1>Most Recently Shared Activities</h1>
<% @activities.top_ten.each do |a| %>
    <h3><%= a.name %><br></h3>
    <p><%= a.description %></p>
    <p>Location: <%= a.location %> <br></p>
    <br>
    <% end %>
    <br>
    

    <%= link_to "Back to All Activities", activities_path %>